@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
    }
    .contents {
        height: 300px;
    }
    .header {
        height: 200px;
    }
    .header-inner {
        margin: 20px 70px;
        background-color: #ffffff;
    }
    .a,
    .b,
    .c {
        float: none;
    }
    .left {
        float: none;
        width: 200px;
        height: 100px;
    }
    .right {
        float: none;
        width: 200px;
        height: 200px;
    }
    .right-inner {
        margin: 15px 0 0 25px;
    }
}